backports.functools-lru-cache==1.5
certifi==2018.4.16
charset-normalizer==2.0.12
cycler==0.10.0
idna==3.4
imutils==0.5.4
matplotlib==2.1.2
numpy==1.14.0
pandas==0.23.3
PyAudio==0.2.13
pyparsing==2.2.0
pyserial==3.5
python-dateutil==2.6.1
pytz==2018.5
requests==2.27.1
six==1.11.0
smbus2==0.4.2
SpeechRecognition==3.9.0
urllib3==1.26.14
